.mens {
  margin: 20px 0;
  padding: 25px;
  background: #191919;
  border-radius: 6px;
}
.mens__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.mens__card {
  width: calc(20% - 16px);
  border-radius: 8px;
  background: #212123;
  overflow: hidden;
}
.mens__card-img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mens__card-info {
  padding: 12px 12px 8px 12px;
}
.mens__card-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.mens__card-category {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #B8B8B8;
  margin: 5px 0 28px;
}
.mens__card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mens__card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #6C3EB8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.mens__card-oldPrice {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #576067;
}
.mens__card-purchased {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #576067;
}
.mens__btn {
  display: block;
  margin: 24px auto 0;
}